*{
    margin: 0px;
    padding: 0px;
    
}

.navbar{
    display: flex;
    height: 5vh;
    padding: 0px;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    padding-left: 10px;
    border-radius: 5px;
    justify-content: flex-end;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    
}
.opt{
    text-decoration: none;
    color: white;
    margin-left: auto;
}
.opt:hover{
    background-color: rgb(116, 114, 114);
    color: white;
    padding: 7px 0px 7px 0px;
}
.logo{
    
    color: gray;
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    opacity: 0.7;
}

.middle-text{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.text{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px;
    border-radius: 30px;
    font-size:200%;
}
