*{
    margin:0px;
    padding:0px;

}
body{
    background-color: white;
    background-size: cover;
    font-family: Arial;
}

.opt{
    text-decoration: none;
    color: black;
    
}
.heading{
    margin-top: 30px;
    text-align: center;
    opacity: 0.5;
}
.row1{
    display: flex;
    height: 50vh;
    gap: 10px;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0.9;
}
.box1{
    display: flex;
    border-radius: 10px;
    height: 40vh;
    width: 50vh;
    flex-direction: column;
    background-color: white;
    box-shadow: 2px 2px 5px black;
}
.image{
    height: 25vh;
    width: 50vh;
    border-radius: 10px;
    margin-bottom: 1vh;
    
}

.text-area{
    text-align: center;
}
.location-name{
    margin-bottom: 0.5vh;
    font-weight: bold;
}
.cost{
    margin-bottom: 1.5vh;
    font-weight: bold;
}
.read-more{
    border: 1px solid rgb(94, 199, 202);
    text-decoration: none;
    background-color: rgb(94, 199, 202);
    color: white;
    font-weight:bold;
    border-radius: 5px;
    padding: 2px;
    
}
.read-more:hover{
    background-color:white;
    color:rgb(94, 199, 202);
}